{% load static %}

<!DOCTYPE html> 
<html>
<head>
    <title> Aaron Joseph</title>
    <link href="{% static '/css/main.css' %}" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <br>
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <div class="card card-body h-100 border-info">
                    <h4> Who am I? </h4>
                    <hr>
                    <p style="text-align:justify;">I derive pleasure from learning new things, exploring fresh hobbies, and delving into uncharted knowledge. Curiosity and attention to detail bolster my understanding.</p>
                    <p style="text-align:justify;">As a committed team member, I strive to solve problems creatively for optimal results. My analytical and collaborative skills enable valuable contributions.</p>
                    <p style="text-align:justify;">With a strong desire for ongoing learning and adaptation, I view challenges as opportunities for improvement and to give my best.</p>

                </div>
            </div>

            <div class="col-md-3 ">
                <div class="card card-body h-100 border-info    " id="profile-wrapper">
                    <img id="profile-pic" src="{% static 'images/profilepic.jpg' %}">
                    <hr>
                    <h4>I'm Aaron Joseph </h4>
                    <p>Software Engineering student at Telkom University</p>
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-6">
                <div class="card card-body h-100">
                    <h5> My Experiences in Software Engineering </h5>
                    <hr>
                    <p style="text-align:justify;">As a Junior Software Engineering Student, have participated in multiple school projects, including personal projects</p>
                    <p style="text-align:justify;">I have numerous early experiences in the software engineering world, such as participating in numerus projects, helping and contributing to team projects, and numerous learning bootcamps</p>
                </div>
            </div>

            <div class="col-md-6">
                <div class="card card-body h-100">
                    <h5> Big Projects </h5>
                    <hr>
                    <p style="text-align:justify;">I participated in the making of a Library web app, as part of my final test in the Adaptive Network Laboratory, and participated in numerous small to mediocre tasks.</p>
                    <p style="text-align:justify;">As a final project as well, I participated in the redesign of a government web app, and redesigned it to fit a better society with more use</p>
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-6">
                <div class="card card-body h-100">
                    <h5> Various Skillsets </h5>
                    <hr>
                    <p style="text-align:justify;">Technical Languages: Python, C#, Java, Golang, Git</p>
                    <p style="text-align:justify;">Languages: native indonesian, English as a Second Language</p>
                    <p style="text-align:justify;">Soft Skills: Teamwork, Creative Problem Solving, Computer Literacy</p>
                </div>
            </div>

            <div class="col-md-6 h-100">
                <div class="card card-body">
                    <h5> Education </h5>
                    <hr>
                    <p>Telkom University - Bandung, Indonesia (Bachelor's Degree on Software Engineering)</p>
                    <p>Salemba Adventist High School - Jakarta, Indonesia (Majoring in Mathematical Science)</p>
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-8 h-100">
                <div class="card card-body">
                    <h5> Recent Projects </h5>
                    <hr>
                    <p>filler</p>
                    <p>filler2</p>
                </div>
            </div>

            <div class="col-md-4 h-100">
                <div class="card card-body">
                    <h5> Any Questions? </h5>
                    <hr>
                    <p>Feel free to Contact me through my Socials</p>
                    <ul class="social-links">
                        <a href="https://www.instagram.com/itsaarooon23/" target="_blank">
                            <li><img class="social" src="{% static 'images/instagram.png' %}"></li>
                        </a>
                        <a href="https://www.linkedin.com/in/aarondaimbani/" target="_blank">
                            <li><img class="social" src="{% static 'images/linkedin.png' %}"></li>
                        </a>
                        <a href="https://github.com/ItsRon23" target="_blank">
                            <li><img class="social" src="{% static 'images/github.png' %}"></li>
                        </a>
                    </u1>
                </div>
            </div>
        </div>
        <br>
    </div>
    

</body>
</html>