{% load static %}

<!DOCTYPE html> 
<html>
<head>
    <title> Aaron Joseph</title>
    <link href="{% static '/css/main.css' %}" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <br>
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <div class="card card-body h-100 border-info">
                    <h4> Who am I? </h4>
                    <hr>
                    <p style="text-align:justify;">I derive pleasure from learning new things, exploring fresh hobbies, and delving into uncharted knowledge. Curiosity and attention to detail bolster my understanding.</p>
                    <p style="text-align:justify;">As a committed team member, I strive to solve problems creatively for optimal results. My analytical and collaborative skills enable valuable contributions.</p>
                    <p style="text-align:justify;">With a strong desire for ongoing learning and adaptation, I view challenges as opportunities for improvement and to give my best.</p>

                </div>
            </div>

            <div class="col-md-3 ">
                <div class="card card-body h-100 border-info    " id="profile-wrapper">
                    <img id="profile-pic" src="{% static 'images/profilepic.jpg' %}">
                    <hr>
                    <h4>I'm Aaron Joseph </h4>
                    <p>Software Engineering student at Telkom University</p>
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-6">
                <div class="card card-body h-100">
                    <h5> My Experiences in Software Engineering </h5>
                    <hr>
                    <p style="text-align:justify;">As a Junior Software Engineering Student, have participated in multiple school projects, including personal projects</p>
                    <p style="text-align:justify;">I have numerous early experiences in the software engineering world, such as participating in numerus projects, helping and contributing to team projects, and numerous learning bootcamps</p>
                </div>
            </div>

            <div class="col-md-6">
                <div class="card card-body h-100">
                    <h5> Big Projects </h5>
                    <hr>
                    <p style="text-align:justify;">I participated in the making of a Library web app, as part of my final test in the Adaptive Network Laboratory, and participated in numerous small to mediocre tasks.</p>
                    <p style="text-align:justify;">As a final project as well, I participated in the redesign of a government web app, and redesigned it to fit a better society with more use</p>
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-4">
                <div class="card card-body h-100">
                    <h5> Various Skillsets </h5>
                    <hr>
                    <p style="text-align:justify;">Technical Languages: Python, C#, Java, Golang, Git</p>
                    <p style="text-align:justify;">Languages: native indonesian, English as a Second Language</p>
                    <p style="text-align:justify;">Soft Skills: Teamwork, Creative Problem Solving, Computer Literacy</p>
                </div>
            </div>

            <div class="col-md-4 ">
                <div class="card card-body h-100">
                    <h5> Education </h5>
                    <hr>
                    <p>Telkom University - Bandung, Indonesia (Bachelor's Degree on Software Engineering)</p>
                    <p>Salemba Adventist High School - Jakarta, Indonesia (Majoring in Mathematical Science)</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card card-body h-100">
                    <h5> Any Questions? </h5>
                    <hr>
                    <p>Feel free to Contact me through my Socials</p>
                    <ul class="social-links">
                        <a href="https://www.instagram.com/itsaarooon23/" target="_blank">
                            <li><img class="social" src="{% static 'images/instagram.png' %}"></li>
                        </a>
                        <a href="https://www.linkedin.com/in/aarondaimbani/" target="_blank">
                            <li><img class="social" src="{% static 'images/linkedin.png' %}"></li>
                        </a>
                        <a href="https://github.com/ItsRon23" target="_blank">
                            <li><img class="social" src="{% static 'images/github.png' %}"></li>
                        </a>
                    </u1>
                </div>
            </div>
        </div>
    </div>
</body>
</html>

 {% comment %} {% load static %}

 <!DOCTYPE html> 
 <html>
 <head>
     <title> Aaron Joseph</title>
     <link href="{% static '/css/main.css' %}" rel="stylesheet" type="text/css">
     <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
 </head> {% endcomment %}

 {% comment %}
 <body>
     <!-- Hero Section -->
     <section class="hero">
         <div class="container">
             <h1>Welcome to my portfolio</h1>
             <p>I'm [Your Name], a [Your Profession]</p>
             <button>Get in touch</button>
         </div>
     </section>
 
     <!-- About Me Section -->
     <section class="about">
         <div class="container">
             <h2>About me</h2>
             <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sit amet nulla auctor, vestibulum magna sed, convallis ex.</p>
             <img src="about-me.jpg" alt="About me image">
         </div>
     </section>
 
     <!-- Projects Section -->
     <section class="projects">
         <div class="container">
             <h2>My projects</h2>
             <ul>
                 <li>
                     <img src="project1.jpg" alt="Project 1 image">
                     <h3>Project 1</h3>
                     <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sit amet nulla auctor, vestibulum magna sed, convallis ex.</p>
                 </li>
                 <li>
                     <img src="project2.jpg" alt="Project 2 image">
                     <h3>Project 2</h3>
                     <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sit amet nulla auctor, vestibulum magna sed, convallis ex.</p>
                 </li>
                 <!-- Add more projects here -->
             </ul>
         </div>
     </section>
 
     <!-- Contact Me Section -->
     <section class="contact">
         <div class="container">
             <h2>Get in touch</h2>
             <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sit amet nulla auctor, vestibulum magna sed, convallis ex.</p>
             <ul>
                 <li><a href="mailto:your@email.com">your@email.com</a></li>
                 <li><a href="https://www.linkedin.com/in/yourlinkedinprofile/">LinkedIn</a></li>
                 <!-- Add more contact links here -->
             </ul>
         </div>
     </section>
 
     <script src="script.js"></script>
 </body>
 </html>

  {% endcomment %}

  {% comment %} <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create a Personal Portfolio Website using HTML and CSS | Codehal</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <header>
        <h2 class="logo"><span>J</span>oe.</h2>
        <nav class="navigation">
            <a href="#">Home</a>
            <a href="#">About</a>
            <a href="#">Portfolio</a>
            <a href="#">Blog</a>
            <a href="#">Contact</a>
        </nav>
        <a href="#" class="btn-talk">Let's Talk</a>
    </header>
    <section class="home">
        <div class="content">
            <h2>Hi, I'm <span>Joe Greyson</span></h2>
            <h4>Frontend Developer</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. A esse totam provident voluptas similique.
                Impedit incidunt atque recusandae rem quam.</p>
            <div class="btn-group">
                <a href="#">Hire Me</a>
                <a href="#">See Projects</a>
            </div>
            <div class="social-icons">
                <a href="#"><i class="fa-brands fa-linkedin-in"></i></a>
                <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
                <a href="#"><i class="fa-brands fa-twitter"></i></a>
            </div>
        </div>
    </section>
</body>
</html> {% endcomment %}